[build]
  command = "npm run build"
  functions = "lambda/"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/media/*"
  to = "/media/:splat"

[[headers]]
  for = "/index.html"
  [headers.values]
    "can't-be-evil" = true

[[headers]]
  for = "/manifest.json"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
    Access-Control-Allow-Methods = "POST, GET, OPTIONS, DELETE, PUT"
